asgiref==3.11.0
backports-datetime-fromisoformat==2.0.3
dj-database-url==3.0.1
dj-email-url==1.0.6
Django==4.2.27
django-cache-url==3.4.5
environs==9.5.0
gunicorn==20.1.0
marshmallow==3.19.0
packaging==25.0
psycopg==3.2.13
python-dotenv==1.2.1
sqlparse==0.5.4
typing_extensions==4.15.0
whitenoise==6.4.0
